
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  display: inline-block;
  margin-right: 25px;
  margin-left: 20px;
}

.card {
  background-color: white;
  width: 400px;
  height: 250px;
  margin: 15px;
  border-radius: 15px;
  padding: 10px;
}

.card-div1 {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: green;
}

.card-text {
  margin-right: 130px;
}

.card-div2 {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: red;
}

.card-div3 {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: black;
}

.card-div3-text {
  margin-left: 25px;
  margin-right: 25px;
}


.card-div4 {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: green;
}

.card-btn {
  color: white;
  padding: 10px;
  background-color: green;
  cursor: pointer;
  width: 150px;
}
