
* {
    margin: 0;
    padding: 0;
}
  
body {
    background: url("https://media.istockphoto.com/photos/grass-field-ground-top-view-picture-id1192236248?k=6&m=1192236248&s=612x612&w=0&h=6jInQZikAcAzIUKeZoy-OB8-fwc2Z2q-zCW4gJ1x2pI=") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    display: flex;
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 3rem;
    text-align: center;
}

.btn {
    display: flex;
    padding: auto;
    text-transform: capitalize;
}

.btn-items {
    border: none;
    padding: 1.5rem 9.2rem;
    background-color: rgb(240, 229, 228);
    cursor: pointer;
    margin: 0;
    font-size: 17px;
    box-shadow: inset rebeccapurple;
    transition: all 300ms ease-out;
    text-decoration: none;
}

.btn-items:hover,
.btn-items:focus {
    color: rebeccapurple;
    box-shadow: inset 0px -20px 0px -15px rebeccapurple;
}
